.bg{
    border: none;
}

.homepage__profiles{
    display:block;
    width: 90%;
    padding-left: 10%;
    /* overflow-x: hidden;
    overflow-y: scroll; */
}

/* .homepage__profiles::-webkit-scrollbar{
    display: none;
} */

.search__profiles{
    padding-right: 20%;
}

.homepage_navigation{
    padding-left: 1.5%;
}

