/* scrollable rows */
.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters::-webkit-scrollbar{
    display:none;
}

.row__poster{
    object-fit: contain;
    /* width : 100%; */
    max-height: 300px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row__poster:hover{
    transform: scale(1.1);
    opacity: 1;
}

.row__profile{
    object-fit: contain;
    width : 75%;
    max-height: 150px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row__profile:hover{
    transform: scale(1.1);
    opacity: 1;
}

.profile__name{
    color: white;
    text-decoration: none;
    text-align: center;
    padding-right:30%;
    padding-top: 7%;
}

.movie__title{
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 10%;
    font-size: x-large;
}

